@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
/* Custom styles */

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: monospace;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(80, 1fr);
  grid-template-rows: repeat(50, 1fr);
  border: 1px solid #000;
  background-color: black;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* Adjust padding if needed */
  line-height: 1; /* Adjust line-height if needed */
  font-family: monospace;
  font-size: 10px; /* Adjust font-size if needed */
  color: white;
}

.cell.player {
    color: yellow;
}

.log-area {
  height: 150px; /* Fixed height for log area */
  overflow-y: auto;
  border: 1px solid #000;
  padding: 10px;
  color: #f0f0f0;
  font-family: monospace;
  background-color: black;
  font-size: 10px;
}

/* colors */
.c_yellow {
    color: yellow;
}

.bg_yellow {
    background-color: yellow;
}

.c_black {
    color: black;
}

.bg_black {
    background-color: black;
}

.c_white {
    color: white;
}

.bg_white {
    background-color: white;
}
